<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="JavaScript.js"></script>
    <link href="StyleSheet.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div ng-app="client">
        <div id="logo">
            <div ng-hide="loggedIn" id="loginInfo">Logged in as: {{ loggedInName }}<br />Role: {{ whoIsLoggedIn }}</div>
            <div ng-controller="logout" ng-hide="loggedIn" ng-click="logOut()" id="logout"><p>logout</p></div>
        </div>
             <div ng-controller="menu" id="menu">
                 <!-- admin menu -->
                 <div ng-controller="adminMenu" id="adminMenu" ng-hide="whoIsLoggedIn!='admin'">
                     <div class="list-group">
                         <button type="button" class="list-group-item" ng-click="adminCompany = ! adminCompany">Company Options</button>
                         <div ng-show="adminCompany">
                             <ul class="nav nav-pills nav-stacked">
                                 <li ng-click="openCreateCompany()"><a href="">Create Company</a></li>
                                 <li><a href="">Remove Company</a></li>
                                 <li><a href="">Update Company</a></li>
                                 <li ng-click="openGetCompanyById()"><a href="">Get Company by Id</a></li>
                                 <li><a href="">Get Company by Name</a></li>
                                 <li ng-click="openGetAllCompanies();submitGetAllCompanies()"><a href="">Get all Companies</a></li>
                             </ul>
                         </div>
                         <button type="button" class="list-group-item" ng-click="adminCustomer = ! adminCustomer">Customer Options</button>
                         <div ng-show="adminCustomer">
                             <ul class="nav nav-pills nav-stacked">
                                 <li><a href="">Create Customer</a></li>
                                 <li><a href="">Remove Customer</a></li>
                                 <li><a href="">Update Customer</a></li>
                                 <li><a href="">Get Customer by Id</a></li>
                                 <li><a href="">Get Customer by Name</a></li>
                                 <li><a href="">Get all Customers</a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
                 <!-- admin menu ends -->
          <div ng-controller="customerMenu" id="customer-menu" ng-hide="whoIsLoggedIn!='customer'"><p>customer menu</p></div>
          <div ng-controller="companyMenu" id="company-menu" ng-hide="whoIsLoggedIn!='company'"><p>company menu</p></div>
      </div>
      <div ng-controller="mainPage" id="main">
			
			<div ng-controller="loginController" ng-show="loggedIn">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Some Name" ng-model="name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="pass">
                    </div>
                        <select class="form-control" ng-model="type">
                            <option ng-name="Admin" value="Admin">Admin</option>
                            <option ng-name="Customer">Customer</option>
                            <option ng-name="Company">Company</option>
                        </select>
                    <button type="submit" class="btn btn-default" ng-click="processForm()">Sign in</button>
                </form>
             <div id="formInfo">{{ failure }}</div>
          </div>
          <!-- admin page -->
          <div ng-controller="adminPage" ng-hide="whoIsLoggedIn!='admin'">
              <div ng-show="createCompany && whoIsLoggedIn =='admin'">
                  Create Company
                  <form class="form-inline">
                      <div class="form-group">
                          <label class="sr-only" for="inputName">Name</label>
                          <input type="text" class="form-control" id="inputName" placeholder="Company Name" ng-model="name">
                      </div>
                      <div class="form-group">
                          <label class="sr-only" for="inputPassword">Password</label>
                          <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="pass">
                      </div>
                      <div class="form-group">
                          <label class="sr-only" for="inputEmail">Password</label>
                          <input type="text" class="form-control" id="inputEmail" placeholder="example@email.com" ng-model="email">
                      </div>
                      <button type="submit" class="btn btn-default" ng-click="submitCreateCompany()">Create</button>
                  </form>
                  <div id="formInfo">{{ result }}</div>
              </div>
              <div ng-show="getCompanyById && whoIsLoggedIn =='admin'">
                  Get Company By Id
                  <form class="form-inline">
                      <div class="form-group">
                          <label class="sr-only" for="inputId">Name</label>
                          <input type="text" class="form-control" id="inputId" placeholder="Company ID" ng-model="id">
                      </div>
                      <button type="submit" class="btn btn-default" ng-click="submitGetCompanyById()">Get Company</button>
                  </form>
                  <div id="formInfo">{{ result }}</div>
              </div>
              <div ng-show="getAllCompanies && whoIsLoggedIn =='admin'">
                  <div class="panel panel-default">
                      <div class="panel-heading">Companies present in the system</div>
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>ID</th>
                                  <th>Name</th>
                                  <th>Password</th>
                                  <th>Email</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="company in companies">
                                  <td>{{ company.id }}</td>
                                  <td>{{ company.name }}</td>
                                  <td>{{ company.pass }}</td>
                                  <td>{{ company.email }}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!-- admin page ends -->
          <div ng-controller="customerPage" ng-hide="whoIsLoggedIn!='customer'">customer page</div>
          <div ng-controller="companyPage" ng-hide="whoIsLoggedIn!='company'">company page</div>
        
    </div>
    </div>
</body>
</html>
