<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="JavaScript.js"></script>
    <link href="StyleSheet.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div ng-app="client">
        <div class="page-header" ng-controller="pageHeader">
            <h1>Coupon Store <small>the next generation</small></h1>
        <div id="logo">
            <div ng-hide="loggedIn" id="loginInfo">
                        Logged in as: {{ loggedInName | uppercase }}
                        <br />
                        Role: {{ whoIsLoggedIn }}
            </div>
            <div ng-controller="logout" ng-hide="loggedIn" id="logout">
                <button type="button" class="btn btn-link" ng-click="logOut()">Logout</button>
            </div>
        </div>
        </div>
        <div ng-controller="menu" id="menu">
                <!-- admin menu -->
                <div ng-controller="adminMenu" id="adminMenu" ng-hide="whoIsLoggedIn!='admin'">
                    <div class="list-group">
                        <button type="button" class="list-group-item">Company Options</button>
                        <div>
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-click="openPage('createCompany')"><a href="">Create Company</a></li>
                                <li ng-click="openPage('getAllCompanies');submitGetAllCompanies()"><a href="">Company Options</a></li>
                            </ul>
                        </div>
                        <button type="button" class="list-group-item">Customer Options</button>
                        <div>
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-click="openPage('createCustomer')"><a href="">Create Customer</a></li>
                                <li ng-click="openPage('getAllCustomers');submitGetAllCustomers()"><a href="">Customer Options</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- admin menu ends -->
                <!-- customer menu -->
                <div ng-controller="companyMenu" id="customer-menu" ng-hide="whoIsLoggedIn!='customer'">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-click="openPage('couponsToPurchase');submitGetAvailableCoupons()"><a href="">Purchase Coupons</a></li>
                        <li ng-click="openPage('purchacedCoupons');submitGetPurchacedCoupons()"><a href="">View Purchased Coupons</a></li>
                    </ul>
                </div>
                <!-- customer menu ends -->
                <!-- company menu -->
                <div ng-controller="companyMenu" id="company-menu" ng-hide="whoIsLoggedIn!='company'">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-click="openPage('createCoupon')"><a href="">Create Coupon</a></li>
                        <li ng-click="openPage('getCoupons');submitGetCoupons()"><a href="">Coupon Options</a></li>
                    </ul>
                </div>
                <!-- company menu ends -->
      </div>
        <div ng-controller="mainPage" id="main">

            <div ng-controller="loginController" ng-show="loggedIn">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Login Name" ng-model="name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="pass">
                    </div>
                    <select class="form-control" ng-model="type">
                        <option ng-name="Admin" value="Admin">Admin</option>
                        <option ng-name="Customer">Customer</option>
                        <option ng-name="Company">Company</option>
                    </select>
                    <button type="submit" class="btn btn-default" ng-click="processForm()">Sign in</button>
                </form>
                <div id="formInfo">{{ failure }}</div>
            </div>
            <!-- admin page -->
            <div ng-controller="adminPage" ng-hide="whoIsLoggedIn!='admin'">
                <div ng-show="pages.createCompany">
                    Create Company
                    <form class="form-inline">
                        <div class="alert alert-info" role="alert" ng-show="showCreateError">{{ results.createCompany }}</div>
                        <div class="alert alert-success" role="alert" ng-show="showCreateSuccess">{{ results.createCompany }}</div>
                        <div class="form-group">
                            <label class="sr-only" for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Name (min len = 3)" ng-model="name">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="inputPassword">Password</label>
                            <input type="text" class="form-control" id="inputPassword" placeholder="Password (min len = 3)" ng-model="pass">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="inputEmail">Password</label>
                            <input type="text" class="form-control" id="inputEmail" placeholder="example@email.com" ng-model="email">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="submitCreateCompany()">Create</button>
                    </form>
                </div>
                <div ng-show="pages.getAllCompanies">
                    <div id="company-options">
                        <form class="form-inline">
                            Get Company By Id:
                            <select class="form-control" ng-model="compIdSelect" ng-click="compNullify('name')">
                                <option ng-repeat="id in compIds">{{ id }}</option>
                            </select>
                            Get Company By Name
                            <select class="form-control" ng-model="compNameSelect" ng-click="compNullify('id')">
                                <option ng-repeat="name in compNames">{{ name }}</option>
                            </select>
                            <button type="button" class="btn btn-default" ng-click="compNullify('all')">Clear Filter</button>
                        </form>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Companies present in the system</div>
                        <div class="alert alert-info" role="alert" ng-show="showDeletedComp">Company Deleted!</div>
                        <div class="alert alert-success" role="alert" ng-show="showUpdatedComp">Company Updated!</div>
                        <div class="alert alert-info" role="alert" ng-show="showErrorComp">{{ results.updateCompany }}</div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="order-by" ng-click="companyOrderColumn = companySign(compSigns.id, 'id');changeClass('id')">Id<div ng-class="compManageArrow('id')"></div></th>
                                    <th class="order-by" ng-click="companyOrderColumn = companySign(compSigns.name, 'name');changeClass('name')">Name<div ng-class="compManageArrow('name')"></div></th>
                                    <th class="order-by" ng-click="companyOrderColumn = companySign(compSigns.pass, 'pass');changeClass('pass')">Password<div ng-class="compManageArrow('pass')"></div></th>
                                    <th class="order-by" ng-click="companyOrderColumn = companySign(compSigns.email, 'email');changeClass('email')">Email<div ng-class="compManageArrow('email')"></div></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="company in companies | orderBy:companyOrderColumn | filter:compSelect">
                                    <td>{{ company.id }}</td>
                                    <td>{{ company.name }}</td>
                                    <td ng-click="compShowUpdate = true" ng-hide="compShowUpdate" ng-init="compOldPass = company.pass">{{ company.pass }}</td>
                                    <td ng-show="compShowUpdate">
                                        <input type="text" class="form-control" id="password" ng-model="compNewPass" ng-init="compNewPass = company.pass">
                                    </td>
                                    <td ng-click="compShowUpdate = true" ng-hide="compShowUpdate" ng-init="compOldEmail = company.email">{{ company.email }}</td>
                                    <td ng-show="compShowUpdate">
                                        <input type="text" class="form-control" id="email" ng-model="compNewEmail" ng-init="compNewEmail = company.email">
                                    </td>
                                    <td><button type="button" class="btn btn-default" ng-click="submitUpdateCompany(company.name, compOldPass, compNewPass, compOldEmail, compNewEmail)">Update</button></td>
                                    <td><button type="button" class="btn btn-default" ng-click="compShowUpdate = false;company.pass = compOldPass;company.email = compOldEmail" ng-show="compShowUpdate">Cancel Update</button></td>
                                    <td ng-hide="compShowUpdate"><button type="button" class="btn btn-default" ng-click="submitRemoveCompany(company)">Remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-show="pages.createCustomer">
                    Create Customer
                    <form class="form-inline">
                        <div class="alert alert-info" role="alert" ng-show="showCreateCustError">{{ results.createCustomer }}</div>
                        <div class="alert alert-success" role="alert" ng-show="showCreateCustSuccess">{{ results.createCustomer }}</div>
                        <div class="form-group">
                            <label class="sr-only" for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Name (min len = 3)" ng-model="custName">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="inputPassword">Password</label>
                            <input type="text" class="form-control" id="inputPassword" placeholder="Password (min len = 3)" ng-model="custPass">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="submitCreateCustomer()">Create</button>
                    </form>
                </div>
                <div ng-show="pages.getAllCustomers">
                    <div id="customer-options">
                        <form class="form-inline">
                            Get Customer By Id:
                            <select class="form-control" ng-model="custIdSelect" ng-click="custNullify('name')">
                                <option ng-repeat="id in custIds">{{ id }}</option>
                            </select>
                            Get Customer By Name
                            <select class="form-control" ng-model="custNameSelect" ng-click="custNullify('id')">
                                <option ng-repeat="name in custNames">{{ name }}</option>
                            </select>
                            <button type="button" class="btn btn-default" ng-click="custNullify('all')">Clear Filter</button>
                        </form>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Customers present in the system</div>
                        <div class="alert alert-info" role="alert" ng-show="showDeletedCust">Customer Deleted!</div>
                        <div class="alert alert-success" role="alert" ng-show="showUpdatedCust">Customer Updated!</div>
                        <div class="alert alert-info" role="alert" ng-show="showErrorCust">{{ results.updateCustomer }}</div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="order-by" ng-click="customerOrderColumn = customerSign(custSigns.id, 'id');changeClass('id')">Id<div ng-class="custManageArrow('id')"></div></th>
                                    <th class="order-by" ng-click="customerOrderColumn = customerSign(custSigns.name, 'name');changeClass('name')">Name<div ng-class="custManageArrow('name')"></div></th>
                                    <th class="order-by" ng-click="customerOrderColumn = customerSign(custSigns.pass, 'pass');changeClass('pass')">Password<div ng-class="custManageArrow('pass')"></div></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="customer in customers | orderBy:customerOrderColumn | filter:custSelect">
                                    <td>{{ customer.id }}</td>
                                    <td>{{ customer.name }}</td>
                                    <td ng-click="custShowUpdate = true" ng-hide="custShowUpdate" ng-init="custOldPass = customer.pass">{{ customer.pass }}</td>
                                    <td ng-show="custShowUpdate">
                                        <input type="text" class="form-control" id="password" ng-model="custNewPass" ng-init="custNewPass = customer.pass">
                                    </td>
                                    <td><button type="button" class="btn btn-default" ng-click="custCheckUpdate(customer.name, custOldPass, custNewPass)">Update</button></td>
                                    <td><button type="button" class="btn btn-default" ng-click="custShowUpdate = false;customer.pass = custOldPass" ng-show="custShowUpdate">Cancel Update</button></td>
                                    <td ng-hide="custShowUpdate"><button type="button" class="btn btn-default" ng-click="submitRemoveCustomer(customer)">Remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- admin page ends -->
            <!-- customer page starts -->
            <div ng-controller="customerPage" ng-hide="whoIsLoggedIn!='customer'">
                    <div ng-show="pages.couponsToPurchase">
                        <h2>Purchase Coupons</h2>
                        <br />
                        <div class="alert alert-info" role="alert" ng-show="showBought">Coupon Bought!</div>
                        <div class="alert alert-danger" role="alert" ng-show="showErrorBought">Error: {{ result }}</div>
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">id</label>
                                <br />
                                <p>Search id</p>
                                <input class="form-control" type="text" ng-model="search.id" placeholder="Search id" />
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">title</label>
                                <br />
                                <p>Search title</p>
                                <input class="form-control" type="text" ng-model="search.title" />
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">searchEndDate</label>
                                <br />
                                <p>Search End date</p>
                                <input class="form-control" type="date" ng-model="searchAndDate" />
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">Title</label>
                                <br />
                                <p>Search type</p>
                                <select class="form-control" ng-model="search.type">
                                    <option ng-name=""></option>
                                    <option ng-name="RESTAURANTS">RESTAURANTS</option>
                                    <option ng-name="ELECTRICITY">ELECTRICITY</option>
                                    <option ng-name="FOOD">FOOD</option>
                                    <option ng-name="HEALTH">HEALTH</option>
                                    <option ng-name="SPORTS">SPORTS</option>
                                    <option ng-name="CAMPING">CAMPING</option>
                                    <option ng-name="TRAVELLING">TRAVELLING</option>
                                    <option ng-name="CLOTHES">CLOTHES</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">searchPrice</label>
                                <br />
                                <p>Search Price</p>
                                <input class="form-control" type="text" ng-model="searchPrice" />
                            </div>
                        </form>
                        <br />
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-heading">All coupons</div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Amount</th>
                                        <th>Type</th>
                                        <th>Message</th>
                                        <th>Price</th>
                                        <th>Image</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="coupon in availableCoupons | filter : search | filter :searchByPrice | filter :searchByAndDate | filter: amountZero">
                                        <td>{{ coupon.id }}</td>
                                        <td>{{ coupon.title }}</td>
                                        <td>{{ convertToDate(coupon.startDate) | date : dateFormat }}</td>
                                        <td>{{ convertToDate(coupon.endDate) | date : dateFormat }}</td>
                                        <td>{{ coupon.amount }}</td>
                                        <td>{{ coupon.type }}</td>
                                        <td>{{ coupon.message }}</td>
                                        <td>{{ coupon.price | currency}}</td>
                                        <td>
                                            <div>{{ coupon.image }}</div>
                                            <div ng-show="showPicture(coupon.title)"></div>
                                        </td>
                                        <td>
                                            <button ng-click="purchaseCoupon(coupon)">Purchase</button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-show="pages.purchacedCoupons">
                        <form class="form-inline">
                            <h2>Purchased Coupons</h2>
                            <br />
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">id</label>
                                <br />
                                <p>Search id</p>
                                <input class="form-control" type="text" ng-model="search.id" placeholder="Search id" />
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">title</label>
                                <br />
                                <p>Search title</p>
                                <input class="form-control" type="text" ng-model="search.title" />
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">searchAndDate</label>
                                <br />
                                <p>Search End date</p>
                                <input class="form-control" type="date" ng-model="searchAndDate" />
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">Title</label>
                                <br />
                                <p>Search type</p>
                                <select class="form-control" ng-model="search.type">
                                    <option ng-name=""></option>
                                    <option ng-name="RESTAURANTS">RESTAURANTS</option>
                                    <option ng-name="ELECTRICITY">ELECTRICITY</option>
                                    <option ng-name="FOOD">FOOD</option>
                                    <option ng-name="HEALTH">HEALTH</option>
                                    <option ng-name="SPORTS">SPORTS</option>
                                    <option ng-name="CAMPING">CAMPING</option>
                                    <option ng-name="TRAVELLING">TRAVELLING</option>
                                    <option ng-name="CLOTHES">CLOTHES</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">searchPrice</label>
                                <br />
                                <p>Search Price</p>
                                <input class="form-control" type="text" ng-model="searchPrice" />
                            </div>
                        </form>
                        <br />
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-heading">All coupons</div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Type</th>
                                        <th>Message</th>
                                        <th>Price</th>
                                        <th>Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="coupon in purchasedCoupons | filter : search | filter :searchByPrice | filter :searchByAndDate">
                                        <td>{{ coupon.id }}</td>
                                        <td>{{ coupon.title }}</td>
                                        <td>{{ convertToDate(coupon.startDate) | date : dateFormat }}</td>
                                        <td>{{ convertToDate(coupon.endDate)  | date : dateFormat }}</td>
                                        <td>{{ coupon.type }}</td>
                                        <td>{{ coupon.message }}</td>
                                        <td>{{ coupon.price | currency}}</td>
                                        <td>{{ coupon.image }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
            <!-- customer page ends -->
            <!-- company page starts -->
            <div ng-controller="companyPage" ng-hide="whoIsLoggedIn!='company'">
                    <div ng-show="pages.createCoupon">
                        <h2>Create coupon</h2>
                        <br />
                        <div class="alert alert-info" role="alert" ng-show="showCreateCoupon">{{ result }}</div>
                        <div class="alert alert-danger" role="alert" ng-show="showErrorCreateCoupon">Error: {{ result }}</div>
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">Title</label>
                                <br />
                                <p>Title</p>
                                <input type="text" class="form-control" ng-model="title">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">Title</label>
                                <br />
                                <p>amount</p>
                                <input type="number" min="1" max="1000" class="form-control" ng-model="amount">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">Title</label>
                                <br />
                                <p>type</p>
                                <select class="form-control" ng-model="type">
                                    <option ng-name="RESTAURANTS">RESTAURANTS</option>
                                    <option ng-name="ELECTRICITY">ELECTRICITY</option>
                                    <option ng-name="FOOD">FOOD</option>
                                    <option ng-name="HEALTH">HEALTH</option>
                                    <option ng-name="SPORTS">SPORTS</option>
                                    <option ng-name="CAMPING">CAMPING</option>
                                    <option ng-name="TRAVELLING">TRAVELLING</option>
                                    <option ng-name="CLOTHES">CLOTHES</option>
                                </select>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">price</label>
                                <br />
                                <p>price</p>
                                <input type="number" step="0.01" class="form-control" ng-model="price">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">image</label>
                                <br />
                                <p>image</p>
                                <label class="radio-inline" ng-click="choice='URL'">
                                    <input type="radio" name="inlineRadioOptions" id="url" value="url"> URL
                                </label>
                                <label class="radio-inline" ng-click="choice='Upload'">
                                    <input type="radio" name="inlineRadioOptions" id="upload" value="upload"> Upload Image
                                </label>
                                <input type="file" class="form-control" id="chosenImage">
                            </div>
                            <br />

                            <div class="form-group">
                                <label class="sr-only" for="startDate">start date</label>
                                <br />
                                <p>start date</p>
                                <input type="date" class="form-control" ng-model="startDate">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="endDate">end date</label>
                                <br />
                                <p>end date</p>
                                <input type="date" class="form-control" ng-model="endDate">
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">message</label>
                                <br />
                                <p>message</p>
                                <textarea class="form-control" ng-model="message"></textarea>
                            </div>
                            <br />
                            <br />
                            <br />
                            <button type="submit" class="btn btn-default" ng-click="submitCreateCoupon()">Create</button>
                        </form>
                    </div>

                    <div ng-show="pages.getCoupons">
                        <form class="form-inline">
                            <br />
                            <div class="alert alert-info" role="alert" ng-show="showGetCoupons">{{ result }}</div>
                            <div class="alert alert-danger" role="alert" ng-show="showErrorGetCoupons">Error: {{ result }}</div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">id</label>
                                <br />
                                <p>Search id</p>
                                <input class="form-control" type="text" ng-model="search.id" placeholder="Search id" />
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">title</label>
                                <br />
                                <p>Search title</p>
                                <input class="form-control" type="text" ng-model="search.title" />
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">searchAndDate</label>
                                <br />
                                <p>Search End date</p>
                                <input class="form-control" type="date" ng-model="searchAndDate" />
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">Title</label>
                                <br />
                                <p>Search type</p>
                                <select class="form-control" ng-model="search.type">
                                    <option ng-name=""></option>
                                    <option ng-name="RESTAURANTS">RESTAURANTS</option>
                                    <option ng-name="ELECTRICITY">ELECTRICITY</option>
                                    <option ng-name="FOOD">FOOD</option>
                                    <option ng-name="HEALTH">HEALTH</option>
                                    <option ng-name="SPORTS">SPORTS</option>
                                    <option ng-name="CAMPING">CAMPING</option>
                                    <option ng-name="TRAVELLING">TRAVELLING</option>
                                    <option ng-name="CLOTHES">CLOTHES</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputTitle">searchPrice</label>
                                <br />
                                <p>Search Price</p>
                                <input class="form-control" type="text" ng-model="searchPrice" />
                            </div>
                        </form>
                        <br />
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-heading">All coupons</div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Amount</th>
                                        <th>Type</th>
                                        <th>Message</th>
                                        <th>Price</th>
                                        <th>Image</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="coupon in companyCoupons | filter : search | filter :searchByPrice | filter :searchByAndDate">
                                        <td>{{ coupon.id }}</td>
                                        <td>{{ coupon.title }}</td>
                                        <td>{{ convertToDate(coupon.startDate) | date : dateFormat }}</td>
                                        <td ng-click="couponShowUpdate = true" ng-hide="couponShowUpdate">{{ convertToDate(coupon.endDate)  | date : dateFormat }}</td>
                                        <td ng-show="couponShowUpdate">
                                            <input type="date" class="form-control" ng-init="updateEndDate = convertToDate(coupon.endDate)" ng-model="updateEndDate">
                                        </td>
                                        <td>{{ coupon.amount }}</td>
                                        <td>{{ coupon.type }}</td>
                                        <td>{{ coupon.message }}</td>
                                        <td ng-click="couponShowUpdate = true" ng-hide="couponShowUpdate">{{ coupon.price | currency}}</td>
                                        <td ng-show="couponShowUpdate">
                                            <input type="number" step="0.01" class="form-control" ng-model="coupon.price">
                                        </td>
                                        <td>{{ coupon.image }}</td>
                                        <td>
                                            <button ng-click="removeCoupon(coupon)">remove</button>
                                            <button ng-click="updateCoupon(coupon, updateEndDate)">update</button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
            <!-- company page ends -->
		</div>
    </div>
    <div id="footer">
        &copy; This site was created by Meir Veixelbaum & Maxim Golman.
    </div>
</body>
</html>
